{% macro warningString(key) %}
    This is being overridden by the <span style="font-weight: 500;">{{ key }}</span> setting in the <span style="font-weight: 500;">config/announce.php</span> file.
{% endmacro %}

{% extends '_layouts/cp.twig' %}
{% import '_includes/forms.twig' as forms %}

{% set title = 'Announce' %}
{% set fullPageForm = true %}

{% set tabs = {
    'banner': { label: 'Banner', url: '#announce-alert' },
    'modal': { label: 'Modal', url: '#announce-login' },
} %}

{% set crumbs = [
    { url: 'announce', label: 'Announce' }
] %}

{% block content %}
    {{ actionInput('announce/settings/save-settings') }}

    <div>
        <div id="announce-alert">
            {{ forms.lightswitchField({
                label: 'Enabled',
                name: 'alertEnabled',
                on: settings.alertEnabled ?? "",
                value: settings.alertEnabled,
                warning: settings.alertEnabledConfig ? _self.warningString('alertEnabled')
            }) }}

            {{ forms.textField({
                label: 'Banner Text',
                name: 'bannerText',
                value: settings.bannerText,
                warning: settings.bannerTextConfig ? _self.warningString('bannerText')
            }) }}

            {{ forms.textField({
                label: 'Banner Link Text',
                name: 'bannerLinkText',
                value: settings.bannerLinkText,
                instructions: 'Button does not show if blank.',
                warning: settings.bannerLinkTextConfig ? _self.warningString('bannerLinkText')
            }) }}

            {{ forms.textField({
                label: 'Banner Link URL',
                name: 'bannerLink',
                value: settings.bannerLink,
                instructions: 'Opens in new window. \n Button does not show if blank.',
                warning: settings.bannerLinkConfig ? _self.warningString('bannerLink')
            }) }}
        </div>

        <div id="announce-login" class="hidden">
            {{ forms.lightswitchField({
                label: 'Enabled',
                name: 'enabled',
                on: settings.enabled ?? "",
                value: settings.enabled,
                warning: settings.enabledConfig ? _self.warningString('enabled')
            }) }}

            {{ forms.lightswitchField({
                label: 'Disable for Admins',
                name: 'adminDisabled',
                on: settings.adminDisabled ?? "",
                value: settings.adminDisabled,
                warning: settings.adminDisabledConfig ? _self.warningString('adminDisabled')
            }) }}

            <p><a href="/admin/welcome-announcement" class="go announce-dark-link" target="_blank">View Login Modal</a></p>

            {{ forms.textField({
                label: 'Title',
                name: 'announcement',
                value: settings.announcement,
                required: true,
                warning: settings.announcementConfig ? _self.warningString('announcement')
            }) }}

            {{ forms.textField({
                label: 'Body Text',
                name: 'bodyText',
                value: settings.bodyText,
                warning: settings.bodyTextConfig ? _self.warningString('bodyText')
            }) }}

            {{ forms.textField({
                label: 'Link Button Text',
                name: 'linkText',
                value: settings.linkText,
                instructions: 'Button does not show if blank.',
                warning: settings.linkTextConfig ? _self.warningString('linkText')
            }) }}

            {{ forms.textField({
                label: 'Continue Button Text',
                name: 'continueButtonText',
                value: settings.continueButtonText,
                instructions: 'Defaults to "Continue" if empty.',
                warning: settings.continueButtonTextConfig ? _self.warningString('continueButtonText')
            }) }}

            {{ forms.textField({
                label: 'Link Button URL',
                name: 'link',
                value: settings.link,
                instructions: 'Opens in new window. \n Button does not show if blank.',
                warning: settings.linkConfig ? _self.warningString('link')
            }) }}

            {{ forms.textField({
                label: 'Continue Button Redirect URL',
                name: 'continueButtonURL',
                value: settings.continueButtonURL,
                instructions: 'Redirect URL when login modal button is clicked. \n Leave blank to redirect to the dashboard.',
                warning: settings.continueButtonURLConfig ? _self.warningString('continueButtonURL')
            }) }}
        </div>
    </div>
{% endblock %}
