{% macro warning(key, file) -%}
    {%- set configArray = craft.app.config.getConfigFromFile(file) -%}
    {%- if configArray[key] is defined -%}
        {{- "This is being overridden by the <span style='font-weight: 600;'>`#{ key }`</span> setting in the <span style='font-weight: 600;'>`config/#{ file }.php`</span> file."|raw }}
    {%- endif -%}
{%- endmacro %}

{% extends '_layouts/cp.twig' %}
{% import '_includes/forms.twig' as forms %}

{% set title = 'Announce' %}
{% set fullPageForm = true %}
{% set configFileName = "announce" %}
{% set bannerTabClass = settings.getErrors('bannerLink') ? 'error' : '' %}
{% set modalTabClass = settings.getErrors('linkButtonUrl') or settings.getErrors('buttonRedirectUrl') ? 'error' : '' %}

{% set tabs = {
    'banner': { label: 'Banner'|t('announce'), url: '#announce-alert', class: bannerTabClass },
    'modal': { label: 'Modal'|t('announce'), url: '#announce-modal', class:  modalTabClass },
} %}

{% set crumbs = [
    { url: 'announce', label: 'Announce' }
] %}

{% set additionalButtons %}
    <a href='/admin/login-announcement' class='preview-btn btn' target='_blank'>{{ "Preview Login Modal"|t('announce') }}</a>
{% endset %}

{% block content %}
    {{ actionInput('announce/settings/save-settings') }}

    <div>
        <div id="announce-alert">
            <h2>{{ "Banner"|t('announce') }}</h2>

            <p>{{ "The alert banner will display your announcement at the top of the admin panel."|t('announce') }}</p>

            {{ forms.lightswitchField({
                label: 'Enabled'|t('announce'),
                name: 'bannerEnabled',
                on: config.bannerEnabled ?? settings.bannerEnabled ?? "",
                warning: _self.warning('bannerEnabled', configFileName)
            }) }}

            <hr style="margin-inline: calc(var(--xl)* -1);">

            <h2>{{ "Banner Content"|t('announce') }}</h2>

            <p>{{ "The main announcement message for the alert banner."|t('announce') }}</p>

            {{ forms.textField({
                label: 'Banner Text'|t('announce'),
                name: 'bannerText',
                instructions: 'Banner does not show if blank.'|t('announce'),
                value: config.bannerText ?? settings.bannerText,
                warning: _self.warning('bannerText', configFileName)
            }) }}

            <hr style="margin-inline: calc(var(--xl)* -1);">

            <h2>{{ "Banner Link"|t('announce') }}</h2>

            <p>{{ "Link the user to more information or any URL."|t('announce') }}</p>

            {{ forms.textField({
                label: 'Banner Link Text'|t('announce'),
                name: 'bannerLinkText',
                value: config.bannerLinkText ?? settings.bannerLinkText,
                instructions: 'Button does not show if blank.'|t('announce'),
                warning: _self.warning('bannerLinkText', configFileName)
            }) }}

            {{ forms.textField({
                label: 'Banner Link URL'|t('announce'),
                name: 'bannerLink',
                value: config.bannerLink ?? settings.bannerLink,
                instructions: 'Opens in new tab. \n Button does not show if blank.'|t('announce'),
                warning: _self.warning('bannerLink', configFileName),
                errors: settings.getErrors('bannerLink')
            }) }}
        </div>

        <div id="announce-modal" class="hidden">
            <h2>{{ "Login Modal"|t('announce') }}</h2>

            <p>{{ "The login modal will display your announcement when users log in to the admin panel."|t('announce') }}</p>

            {{ forms.lightswitchField({
                label: 'Enabled'|t('announce'),
                name: 'modalEnabled',
                on: config.modalEnabled ?? settings.modalEnabled ?? "",
                warning: _self.warning('modalEnabled', configFileName)
            }) }}

            <hr style="margin-inline: calc(var(--xl)* -1);">

            <h2>{{ "Modal Content"|t('announce') }}</h2>

            {{ forms.textField({
                label: 'Title'|t('announce'),
                name: 'modalTitle',
                value:  config.modalTitle ?? settings.modalTitle,
                instructions: 'The title of the modal announcement.'|t('announce'),
                warning: _self.warning('modalTitle', configFileName)
            }) }}

            {{ forms.textField({
                label: 'Body Text'|t('announce'),
                name: 'bodyText',
                value: config.bodyText ?? settings.bodyText,
                instructions: 'The body text of the modal announcement.'|t('announce'),
                warning: _self.warning('bodyText', configFileName)
            }) }}

            <hr style="margin-inline: calc(var(--xl)* -1);">

            <h2>{{ "Link Button"|t('announce') }}</h2>

            <p>{{ "Link the user to more information or any URL."|t('announce') }}</p>

            {{ forms.textField({
                label: 'Link Button Text'|t('announce'),
                name: 'linkButtonText',
                value: config.linkButtonText ?? settings.linkButtonText,
                instructions: 'Button does not show if blank.'|t('announce'),
                warning: _self.warning('linkButtonText', configFileName)
            }) }}

            {{ forms.textField({
                label: 'Link Button URL'|t('announce'),
                name: 'linkButtonUrl',
                value: config.linkButtonUrl ?? settings.linkButtonUrl,
                instructions: 'Opens in new tab. \n Button does not show if blank.'|t('announce'),
                warning: _self.warning('linkButtonUrl', configFileName),
                errors: settings.getErrors('linkButtonUrl')
            }) }}

            <hr style="margin-inline: calc(var(--xl)* -1);">

            <h2>{{ "Continue Button"|t('announce') }}</h2>

            <p>{{ "The user will click this to dismiss the modal announcement and continue to the admin panel."|t('announce') }}</p>

            {{ forms.textField({
                label: 'Button Text'|t('announce'),
                name: 'buttonText',
                value: config.buttonText ?? settings.buttonText,
                placeholder: 'Continue',
                warning: _self.warning('buttonText', configFileName)
            }) }}

            {{ forms.textField({
                label: 'Button Redirect URL'|t('announce'),
                name: 'buttonRedirectUrl',
                value: config.buttonRedirectUrl ?? settings.buttonRedirectUrl,
                instructions: 'Redirect URL when the login modal button is clicked. \n Leave blank to use default behaviour.'|t('announce'),
                warning: _self.warning('buttonRedirectUrl', configFileName),
                errors: settings.getErrors('buttonRedirectUrl')
            }) }}
        </div>
    </div>
{% endblock %}
